<app-navbar></app-navbar>
<div class="banner">
  <img src="assets/img/banner6.jpg" alt="Banner Image">
  <div class="banner-overlay">
    <div class="banner-text">Contact Us</div>
  </div>
</div>
<div class="text-container">
  <div class="content-wrapper">
    <div class="section contact-details">
      <h2 class="section-heading">Get in Touch</h2>
      <p>If you have any questions or need further information, please feel free to contact us through any of the following methods:</p>
      <div class="contact-info">
        <p><span class="material-icons">phone</span> Phone: +94 78 7777777</p>
        <p><span class="material-icons">email</span> Email: <a href="mailto:info&#64;gajadeera.com">info&#64;gajadeera.com</a></p>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <img src="assets/img/banner7.jpg" alt="Banner Image">
  <div class="banner-overlay">
    <div class="banner-text">Visit Us</div>
  </div>
</div>
<div class="text-container">
  <div class="content-wrapper">
    <div class="section">
      <h2 class="section-heading">Our Address</h2>
      <p>We are located at the World Trade Center in Colombo, Sri Lanka:</p>
      <div class="contact-info">
        <p><span class="material-icons">location_on</span> World Trade Center, No 1, Level 06, ELB, Colombo 1, Sri Lanka</p>
      </div>
    </div>
  </div>
</div>
