<app-navbar></app-navbar>
<div class="banner">
  <img src="assets/img/banner5.jpg" alt="Banner Image">
  <div class="banner-overlay">
    <div class="banner-text">About Us</div>
  </div>
</div>
<div class="text-container">
  <div class="content-wrapper">
    <div class="section welcome-msg">
    <h2 class="section-heading">Photoelectric Energy</h2>
      <p>At Photoelectric Energy, we are committed to driving the future of sustainable energy solutions in Sri Lanka. Our mission is to create a greener, more sustainable future for all.</p>
    </div>
    <div class="section">
      <h2 class="section-heading">Our Expertise</h2>
      <p>With over 25 years of experience in the Chinese market through our parent company, Foshan Sky Ceramics, we bring extensive expertise to the solar market in Sri Lanka. We import high-quality solar panels from JA Solar and inverters from DEYE, ensuring competitive prices and global standards.</p>
    </div>
  </div>
</div>

<div class="banner">
  <img src="assets/img/EINSTEIN.png" alt="Banner Image">
  <div class="banner-overlay">
    <div class="banner-text">Everything is the Light</div>
  </div>
</div>

<div class="text-container">
  <div class="content-wrapper">
    <div class="section">
    <h2 class="section-heading">Our Vision</h2>
      <p>We aim to foster the growth of solar energy in Sri Lanka by providing top-tier solar energy solutions for both public and private sectors. Our vision is to see Sri Lanka embrace a green and sustainable future, reducing reliance on fossil fuels.</p>
    </div>
    <div class="section">
      <h2 class="section-heading">Our Ideology</h2>
      <p>Our logo features Albert Einstein, reflecting our commitment to scientific principles in our solutions. Our motto, "Everything is the Light," embodies our belief in the transformative power of solar energy.</p>
    </div>
  </div>
</div>