<app-navbar></app-navbar>
<div class="banner">
  <img src="assets/img/banner3.jpg" alt="Banner Image">
  <div class="banner-overlay">
    <div class="banner-text">Inverters</div>
  </div>
</div>
<div class="text-container">
  <div>
    <h2 class="section-heading">DEYE</h2>
    <div class="product-images">
      <img class="product-image" src="assets/img/DEYE1.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE2.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE3.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE4.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE5.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE6.jpg" alt="Product Image">
      <img class="product-image" src="assets/img/DEYE7.jpg" alt="Product Image">
    </div>
  </div>
</div>